@model Pagination<TargetDto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (var target in Model.Data)
    {
        <p>@target.Name</p>
    }
</div>
